body {
width: 1200px;
height: 1520px;
background: #3a3a3a;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 198px;
    background: #515151;
    border-bottom: 4px solid #202020;
}

#footer {
    width: 100%;
    height: 22px;
    background: #202020;
    position: absolute;
    top: 1750px;
    left: 0px;
    bottom: 0px;
}

#nav {
    width: 100%;
    height: 60px;
    background: #ffffff;
    margin-top: 70px;
}

#logo {
    width: 306px;
    height: 207px;
    position: absolute;
    left: 50%;
    margin-left: -170px;
    top: -5px;
    z-index: 2;
}

#yellow {
    width: 100%;
    height: 3px;
    background: #fdc513;
    margin-top: 5px;
    position: absolute;
}

#blue {
    width: 100%;
    height: 3px;
    background: #2aa1db;
    margin-top: 34px;
}

.nav ul {
  padding: 0;
  margin: 0;
    list-style: none;
  display: inline-block;
}

.nav li {
  font-family: 'High tower text', sans-serif;
  font-size: 30px;
  font-weight: 600;
}

.nav a {
  text-decoration: none;
  color: #2aa1db;
}

.nav a:hover {
  color: #fdc513;
}

.nav a.active {
  color: #fdc513;
}

.home {
    position: absolute;
    top: 83px;
    left: 275px;
}

.about {
    position: absolute;
    top: 83px;
    left: 475px;
}

.beer {
    position: absolute;
    top: 83px;
    left: 1125px;
}

.events {
    position: absolute;
    top: 83px;
    left: 1325px;
}

/* Text */

@font-face {
  font-family: 'Franklin Gothic';
  src: url(../fonts/Franklin Gothic.ttf);
}

@font-face {
  font-family: 'High Tower Text';
  src: url(../fonts/High Tower Text.ttf);
}

h1 {
    color: #2aa1db;
    position: relative;
    padding-top: 7px;
    padding-left: 32px;
    font-size: 30px;
    font-family: 'Franklin Gothic', sans-serif;
}

h2 {
    color: #2aa1db;
    position: relative;
    padding-top: 8px;
    padding-left: 20px;
    font-size: 30px;
    font-family: 'Franklin Gothic', sans-serif;
}

h4 {
    color: #fdc513;
    position: relative;
    margin-top: -14px;
    padding-left: 32px;
    font-size: 18px;
    font-family: 'Franklin Gothic', sans-serif;
}

h5 {
    color: #fdc513;
    position: relative;
    margin-top: -15px;
    padding-left: 20px;
    font-size: 18px;
    font-family: 'Franklin Gothic';
}

h6 {
    color: #ffffff;
    position: relative;
    margin-top: -13px;
    padding-left: 32px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    font-family: 'Franklin Gothic', sans-serif;
}

h7 {
    color: #ffffff;
    position: relative;
    top: -25px;
    left: 20px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Franklin Gothic', sans-serif;
}

h8 {
    color: #ffffff;
    position: relative;
    top: -25px;
    left: 20px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Franklin Gothic', sans-serif;
}

h9 {
    color: #fdc513;
    position: relative
    font-size: 18px;
    font-weight: 600;
    font-family: 'Franklin Gothic', sans-serif;
}

h10 {
    color: #ffffff;
    position: relative;
    margin-top: 5px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Franklin Gothic', sans-serif;
}

h11 {
    color: #ffffff;
    position: relative;
    top: -20px;
    left: 15px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Franklin Gothic', sans-serif;
}

h15 {
    color: #ffffff;
    position: relative;
    left: 360px;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Franklin Gothic', sans-serif;
}

/* Our Gull Dam Story */

.frame {
    width: 445px;
    height: 332px;
}

.b_left_2 {
    width: 15px;
    height: 332px;
    background: #3a3a3a;
    float: left;
}

.b_left {
    width: 3px;
    height: 332px;
    background: #fdc513;
    float: left;
    z-index: 1;
}

.b_right_2 {
    width: 15px;
    height: 332px;
    background: #3a3a3a;
    float: right;
}

.b_right {
    width: 3px;
    height: 332px;
    background: #fdc513;
    float: right;
}

#smallBox_1 {
    width: 409px;
    height: 332px;
    background: #515151;
    margin-top: 235px;
    margin-left: 900px;
    z-index: 2;
}

#brewroom {
    width: 491px;
    height: 270px;
    float: left;
    margin-left: 350px;
    margin-top: -332px;
}

/* Employment */

#smallBox_2 {
    width: 409px;
    height: 327px;
    background: #515151;
    margin-top: 34px;
    margin-left: 350px;
}

#employment {
    width: 491px;
    height: 270px;
    float: right;
    margin-right: -86px;
    margin-top: -328px;
}

/* Our Crew */

.crew {
    width: 200px;
    height: 433px;
    display: inline;
    padding-left: 30px;
    float: left;
}

#bar_1 {
    width: 774px;
    height: 3px;
    background: #fdc513;
    position: absolute;
    margin-top: 25px;
    left: 525px;
}

#bar_2 {
    width: 921px;
    height: 3px;
    background: #fdc513;
    position: absolute;
    margin-top: 441px;
    left: 378px;
}

#largeBox_1 {
    width: 960px;
    height: 466px;
    background: #515151;
    margin-top: 34px;
    margin-left: 350px;
}

/* Contact Us */

#bar_3 {
    width: 760px;
    height: 3px;
    background: #fdc513;
    position: absolute;
    margin-top: 25px;
    left: 539px;
}

#bar_4 {
    width: 921px;
    height: 3px;
    background: #fdc513;
    position: absolute;
    margin-top: 233px;
    left: 378px;
}

#largeBox_2{
    width: 960px;
    height: 258px;
    background: #515151;
    margin-top: 34px;
    margin-left: 350px;
}